.heading-about {
  margin: 8vh auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color: rgb(221, 204, 204);
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    margin: 4rem auto 0 auto;
  }

  @media only screen and (max-width: $bp-extra-small) {
    grid-column: auto;
    font-size: 6rem;
    margin: 4rem auto 0 auto;
  }
}

.introduce {
  width: 100rem;
  font-size: 2.2rem;
  border: 2px solid coral;
  margin: 3rem auto 8rem auto;
  padding: 4rem;
  color: rgb(224, 214, 214);

  @media only screen and (max-width: $bp-large) {
    margin: auto auto 4rem auto;
  }

  @media only screen and (max-width: $bp-extra-small) {
    font-size: 3.5rem;
    grid-column: auto;
    margin: auto 6rem;
  }
}

.track {
  width: 50rem;
  margin: auto;
}

.card {
  position: relative;
  width: 36rem;
  // height: 65rem;
  //margin: auto;
  display: inline-grid;
  //margin-left: 0.5rem;
  margin-right: 9rem;
  border: 0.2rem solid coral;
  border-radius: 0.5rem;

  //background-color: whitesmoke;
  box-shadow: 0 0.5rem 1rem coral;
  z-index: 1;

  @media only screen and (max-width: $bp-largest-xxl) {
    height: 60rem;
  }

  @media only screen and (max-width: $bp-extra-small) {
    width: 32rem;
    height: 59rem;
    margin: 0 auto;
  }

  &--1 {
    // left: 7rem;

    // grid-column: 2/4;

    // @media only screen and (max-width: $bp-largest-xxl) {
    //   grid-column: 4/7;
    // }

    // @media only screen and (max-width: $bp-largest-xl) {
    //   grid-column: 2/4;
    // }

    // @media only screen and (max-width: $bp-large) {
    //   grid-column: 4/7;
    // }

    // @media only screen and (max-width: $bp-extra-small) {
    //   grid-column: auto;
    // }
  }

  &--2 {
    // left: 57rem;
    // grid-column: 5/7;

    // @media only screen and (max-width: $bp-largest-xxl) {
    //   grid-column: 8/11;
    // }

    // @media only screen and (max-width: $bp-largest-xl) {
    //   grid-column: 5/7;
    // }

    // @media only screen and (max-width: $bp-large) {
    //   grid-column: 8/11;
    // }

    // @media only screen and (max-width: $bp-extra-small) {
    //   grid-column: auto;
    // }
  }

  &--3 {
    // left: 100rem;
    // grid-column: 8/10;

    // @media only screen and (max-width: $bp-largest-xxl) {
    //   grid-column: 4/7;
    // }

    // @media only screen and (max-width: $bp-largest-xl) {
    //   grid-column: 8/10;
    // }

    // @media only screen and (max-width: $bp-large) {
    //   grid-column: 4/7;
    // }

    // @media only screen and (max-width: $bp-extra-small) {
    //   grid-column: auto;
    // }
  }

  &--4 {
    // left: 100rem;
    // grid-column: 11/13;

    // @media only screen and (max-width: $bp-largest-xxl) {
    //   grid-column: 8/11;
    // }

    // @media only screen and (max-width: $bp-largest-xl) {
    //   grid-column: 11/13;
    // }

    // @media only screen and (max-width: $bp-large) {
    //   grid-column: 8/11;
    // }

    // @media only screen and (max-width: $bp-extra-small) {
    //   grid-column: auto;
    // }
  }
}

.card:last-child {
  margin-right: 2rem;
}

.card_picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  @media only screen and (max-width: $bp-largest-xxl) {
    height: 25rem;
  }

  &--1 {
    background-image: linear-gradient(
        to right bottom,
        rgb(199, 199, 29),
        rgb(75, 75, 10)
      ),
      url(../../imgs/skills/front-end.jpeg);
  }

  &--2 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
      url(../../imgs/skills/back-end.jpeg);
  }

  &--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #3b2bd1),
      url(../../imgs/skills/database.png);
  }

  &--4 {
    background-image: linear-gradient(to right bottom, #7ed56f, #0f5f44),
      url(../../imgs/skills/testing.png);
  }
}

.card_heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: whitesmoke;

  position: absolute;
  top: 12rem;
  right: 2rem;
}

.card_heading--span {
  padding: 1rem 1.5rem;

  &--1 {
    background-image: linear-gradient(
      to right bottom,
      rgb(223, 223, 75),
      rgb(83, 83, 26)
    );
  }

  &--2 {
    background-image: linear-gradient(to right bottom, #fbdb84, #dd6321);
  }

  &--3 {
    background-image: linear-gradient(
      to right bottom,
      rgba(218, 230, 241, 0.85),
      #2998ff
    );
  }
  &--4 {
    background-image: linear-gradient(
      to right bottom,
      rgba(171, 231, 161, 0.85),
      rgba(24, 177, 126, 0.85)
    );
  }
}

.card_details {
  padding: 3rem;

  ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;

    li {
      text-align: center;
      font-size: 1.8rem;
      color: whitesmoke;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      @media only screen and (max-width: $bp-large) {
        font-size: 1.7rem;
      }

      @media only screen and (max-width: $bp-extra-small) {
        font-size: 2.5rem;
      }
    }
  }
}
