.heading-about {
  margin: 8vh auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  color: rgb(221, 204, 204);
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    margin: 4rem auto 0 auto;
  }

  // @media only screen and (max-width: $bp-extra-small) {
  //   grid-column: auto;
  //   font-size: 6rem;
  //   margin: 4rem auto 0 auto;
  // }
}

.introduce {
  width: 100rem;
  font-size: 2.2rem;
  border: 2px solid coral;
  margin: 3rem auto 8rem auto;
  padding: 4rem;
  color: rgb(224, 214, 214);

  @media only screen and (max-width: $bp-medium) {
    width: 85%;
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 90%;
    padding: 2rem;
  }
}

.introduce:hover {
  box-shadow: 0 0.5rem 1rem coral;
}
