.contact_container {
  width: 100%;
  height: calc(100% - 10rem);
  color: white;
  font-size: 2rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: opacity 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.contact_title {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.contact_info {
  font-size: 2.2rem;
  margin-bottom: 3rem;

  @media only screen and (max-width: $bp-small) {
    width: 80%;
  }
}
