.footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
}

.icon {
  font-size: 4rem;
  color: rgb(233, 218, 218);
  margin-right: 5rem;
  margin-left: 3rem;
}
