.header_container {
  display: flex;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    height: 90%;
    margin: auto;
  }
}

.header {
  font-size: 4rem;

  margin: auto;

  animation: textshadow 1s infinite, fadein-left 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @media only screen and (max-width: $bp-small) {
    margin: 0 auto auto auto;
    text-align: center;
  }

  @media only screen and (max-width: $bp-small-xs) {
    font-size: 3.5rem;
  }
}

.name {
  font-weight: bold;
  background: linear-gradient(to right, whitesmoke 0%, rgb(167, 154, 154) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 5rem;
  background: linear-gradient(
    to right,
    rgb(252, 247, 247) 0%,
    rgb(214, 198, 198) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title span {
  background: linear-gradient(
    to right,
    rgb(236, 163, 136) 0%,
    rgb(211, 94, 51) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-picture {
  max-width: 35rem;
  max-height: 35rem;

  border-radius: 50%;
  box-shadow: rgba(254, 254, 254, 0.25) 0px 50px 100px -20px,
    rgba(241, 239, 239, 0.3) 0px 30px 60px -30px,
    rgba(254, 254, 254, 0.35) 0px -2px 6px 0px inset;
  margin: auto;

  animation: fadein-right 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @media only screen and (max-width: $bp-medium) {
    max-width: 30rem;
    max-height: 30rem;
  }

  @media only screen and (max-width: $bp-small) {
    max-width: 28rem;
    max-height: 28rem;
    order: -1;
    margin: 8vh auto 7vh auto;
  }

  @media only screen and (max-width: $bp-small-xs) {
    max-width: 23rem;
    max-height: 23rem;
  }
}
