.header {
  grid-row: 2/3;
  grid-column: 2/6;
  font-size: 4rem;

  margin: auto;

  @media only screen and (max-width: $bp-largest-xl) {
    grid-column: 3/7;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 2/6;
  }

  @media only screen and (max-width: $bp-medium-xm) {
    grid-column: 3/7;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: $bp-extra-small) {
    font-size: 4.5rem;
  }
}

.title {
  font-size: 5rem;
  background: linear-gradient(
    to right,
    rgb(252, 247, 247) 0%,
    rgb(214, 198, 198) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.huongnguyen {
  font-weight: bold;
  background: linear-gradient(to right, whitesmoke 0%, rgb(167, 154, 154) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full-stack {
  background: linear-gradient(
    to right,
    rgb(236, 163, 136) 0%,
    rgb(211, 94, 51) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.huong-picture {
  max-width: 35rem;
  max-height: 35rem;
  grid-row: 2/3;
  // grid-column: 8/12;

  border-radius: 50%;
  box-shadow: rgba(254, 254, 254, 0.25) 0px 50px 100px -20px,
    rgba(241, 239, 239, 0.3) 0px 30px 60px -30px,
    rgba(254, 254, 254, 0.35) 0px -2px 6px 0px inset;
  margin: auto;

  animation: picture-frames 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  @keyframes picture-frames {
    0% {
      grid-column: 12 / end;
      opacity: 0.2;
      transform: translateY(-150px) rotate(0);
    }

    30% {
      grid-column: 11 / end;
      opacity: 0.5;
      transform: rotate(-45deg);
    }

    50% {
      grid-column: 10 / end;
      opacity: 0.7;
      transform: rotate(-180deg);
    }

    70% {
      grid-column: 9/12;
      opacity: 0.8;
    }

    100% {
      grid-column: 8/12;
      opacity: 1;
      transform: rotate(-360deg);
    }
  }

  @keyframes changeborder {
    from {
      box-shadow: none;
    }

    to {
      box-shadow: rgba(254, 254, 254, 0.25) 0px 50px 100px -20px,
        rgba(241, 239, 239, 0.3) 0px 30px 60px -30px,
        rgba(254, 254, 254, 0.35) 0px -2px 6px 0px inset;
    }
  }

  @media only screen and (max-width: $bp-largest-xl) {
    grid-column: 8/11;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 9/12;
  }

  @media only screen and (max-width: $bp-medium-xm) {
    grid-column: 8/12;
  }

  @media only screen and (max-width: $bp-small) {
    max-width: 30rem;
    max-height: 30rem;
    grid-row: 1/2;
    grid-column: auto;
  }

  @media only screen and (max-width: $bp-extra-small) {
    max-width: 25rem;
    max-height: 25rem;
    margin-top: 2rem;
  }
}

.line {
  grid-row: 3/4;
  grid-column: 5/9;
  width: 30rem;
  height: 0.3rem;

  margin: auto auto 0 auto;
  background-color: rgb(121, 85, 72);

  @media only screen and (max-width: $bp-small) {
    grid-column: auto;
  }
}
