/* NAVBAR */

.nav_container {
  width: 100%;
  height: 10vh;
}

.navigation {
  width: 100%;
  height: 10vh;
  box-shadow: 0 1rem 1rem rgba(4, 26, 62, 0.5);
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 15rem)) 1fr;
  position: fixed;
  z-index: 90;

  @media only screen and (max-width: $bp-small) {
    background-color: rgba(61, 58, 58, 0.8);
  }
}

.btn-about-container {
  grid-column: 9/10;
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    grid-column: 8/9;
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.btn-projects-container {
  grid-column: 10/11;
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    grid-column: 9/10;
  }

  // @media only screen and (max-width: $bp-medium-xm) {
  //   grid-column: 9/10;
  // }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.btn-contact-container {
  grid-column: 11/12;
  background-color: coral;
  width: 13rem;
  height: 5rem;
  border-radius: 5rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 10/11;
    width: 11rem;
    height: 4rem;
  }

  // @media only screen and (max-width: $bp-medium-xm) {
  //   grid-column: 10/11;
  // }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.nav-link {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: whitesmoke;

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }

  // @media only screen and (max-width: $bp-extra-small) {
  //   font-size: 5rem;
  // }
}

.nav-link:hover {
  text-decoration: underline;

  @media only screen and (max-width: $bp-small-xs) {
    text-decoration: none;
  }
}

.nav-link:active {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.underline {
  text-decoration: underline;
}

.contact_btn {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.hn {
  grid-column: 2/4;
  margin: auto;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 3/5;
  }

  @media only screen and (max-width: $bp-small-xs) {
    grid-column: 4/5;
  }
}

.hn-logo {
  font-size: 4rem;
  color: whitesmoke;
}

/* TOGGLE MENU */
.hamburger-react {
  //grid-column: 9/12;
  color: whitesmoke;
  margin: auto;
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;
    position: fixed !important;
    top: 3rem !important;
    left: 40rem !important;
    z-index: 105;
  }
}

.toggle_menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

  visibility: hidden;

  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visible {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.5s;
}

.selected {
  font-weight: bold;
  color: black;
}
