/* NAVBAR */

.navigation {
  grid-column: 1/-1;
  box-shadow: 0 1rem 1rem rgba(4, 26, 62, 0.5);

  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 15rem)) 1fr;
}

.btn-home-container {
  grid-column: 8/9;
  margin: auto;
}

.btn-about-container {
  grid-column: 9/10;
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    grid-column: 8/9;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 9/10;
  }

  @media only screen and (max-width: $bp-medium-xm) {
    grid-column: 8/9;
  }

  @media only screen and (max-width: $bp-small-xs) {
    display: none;
  }
}

.btn-projects-container {
  grid-column: 10/11;
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    grid-column: 9/10;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 10/11;
  }

  @media only screen and (max-width: $bp-medium-xm) {
    grid-column: 9/10;
  }

  @media only screen and (max-width: $bp-small-xs) {
    display: none;
  }
}

.btn-contact-container {
  grid-column: 11/12;
  background-color: coral;
  width: 13rem;
  height: 5rem;
  border-radius: 5rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 10/11;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 11/12;
  }

  @media only screen and (max-width: $bp-medium-xm) {
    grid-column: 10/11;
  }

  @media only screen and (max-width: $bp-small-xs) {
    display: none;
  }
}

.nav-link {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:active {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}

.contact_btn {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.hn {
  grid-column: 3/4;
  margin: auto 0;

  @media only screen and (max-width: $bp-small-xs) {
    grid-column: 4/5;
  }
}

.hn-logo {
  font-size: 4rem;
  color: whitesmoke;
}

/* TOGGLE MENU */
.ham-btn {
  grid-column: 9/11;
  width: 8rem;
  height: 6rem;
  padding: 0.4rem 0.8rem;
  background: coral;
  margin: auto;
  display: none;

  @media only screen and (max-width: $bp-small-xs) {
    display: block;
  }

  @media only screen and (max-width: $bp-extra-small) {
    grid-column: 7/10;
  }
}

.ham-btn span {
  width: 100%;
  height: 0.4rem;
  display: block;
  background: whitesmoke;
  margin: 1rem 0;
  transition: 0.5s;
}

.toggle_menu {
  display: none;
}
