/* ANIMATION */

@keyframes textshadow {
  0% {
    text-shadow: none;
  }

  100% {
    text-shadow: 0px 0px 2px rgb(221, 216, 216);
  }
}

@keyframes fadein-left {
  0% {
    opacity: 0.2;
    transform: translateX(-15rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-right {
  0% {
    opacity: 0.2;
    transform: translateX(15rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
