// RESPONSIVE BREAKPOINTS
$bp-largest-3xl: 120em; // 1920 px done
$bp-largest-xxl: 112em; // 1792 px done
$bp-largest-xl: 96em; // 1536 px done
$bp-large: 85.375em; // 1366 px done
$bp-extra-medium: 64em; // 1024 px done
$bp-medium: 50em; // 800 px done
$bp-small: 26.75em; // 428 px
$bp-small-xs: 23.4375em; // 375 px
$bp-small-xxs: 22.5em; // 360 px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;

  @media only screen and (max-width: $bp-largest-3xl) {
    font-size: 75%; /* 1rem = 12px */
  }

  @media only screen and (max-width: $bp-largest-xxl) {
    font-size: 62.5%; /* 1rem = 10px */
  }

  @media only screen and (max-width: $bp-extra-medium) {
    font-size: 56.25%; /* 1rem = 9px */
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; /* 1rem = 8px */
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 43.75%; /* 1rem = 7px */
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(44, 40, 40);
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 90vh repeat(4, min-content);
}
