// RESPONSIVE BREAKPOINTS
$bp-largest-xxl: 109.375em; // 1750 px
$bp-largest-xl: 93.75em; // 1500 px
$bp-large: 85.375em; // 1366 px

$bp-medium: 68.75em; // 1100 px
$bp-medium-xm: 62.5em; // 1000 px
$bp-small: 43.125em; // 690 px
$bp-small-xs: 34.375em; // 550 px
$bp-extra-small: 26.75em; // 428 px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;

  @media only screen and (max-width: $bp-largest-xl) {
    font-size: 50%; /* 1rem = 8px */
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 37.5%; /* 1rem = 6px */
  }

  @media only screen and (max-width: $bp-extra-small) {
    font-size: 31.25%; /* 1rem = 5px */
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(44, 40, 40);
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 90vh repeat(4, min-content);
}
