*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: rgb(44, 40, 40);
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 90vh repeat(4, min-content);
}
