.form {
  width: 40%;
}

.label-form {
  font-size: 2rem;
  color: white;
}

.form-input {
  color: #222932;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1rem;
  border-bottom: 5px solid transparent;
  transition: all 0.2s;
  outline: 0;
}

input {
  height: 5rem;
}

.message-box {
  height: 15rem;
}
