.logo_container {
  grid-row: 5/6;
  grid-column: 1/-1;
  margin: auto;

  @media only screen and (max-width: $bp-small-xs) {
    grid-column: 4/9;
  }

  @media only screen and (max-width: $bp-extra-small) {
    grid-column: 3/9;
  }
}

.logo {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 3rem;
}
