/* HEADER */

.home {
  background-image: linear-gradient(
      rgba(135, 161, 130, 0.93),
      rgba(36, 46, 35, 0.93)
    ),
    url(../../imgs/background.jpeg);
  // background: url(../../imgs/background.jpeg);
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-rows: 10vh 10vh min-content min-content 1fr;
  grid-template-columns: 1fr repeat(10, minmax(10rem, 15rem)) 1fr;
}

.about {
  background-color: #f7f7f7;
  display: grid;
  grid-template-rows: 15vh 10vw 70vh;
  grid-template-columns: 1fr repeat(11, minmax(10rem, 15rem)) 1fr;
}

.projects {
  display: grid;
  grid-template-rows: 15vh min-content;
  grid-template-columns: 1fr repeat(11, minmax(10rem, 15rem)) 1fr;
}

.footer {
  background-color: aquamarine;
}
