/* HEADER */

.home {
  width: 100vw;
  height: 90vh;
  // background-image: url(../../imgs/background/background_home.png);
  // background-position: center;
  // background-size: cover;

  display: grid;
  grid-template-rows: 18vh min-content 1fr 18vh;
  grid-template-columns: 1fr repeat(10, minmax(10rem, 15rem)) 1fr;

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 35vh 25vh 1fr 15vh;
    grid-template-columns: none;
  }

  @media only screen and (max-width: $bp-extra-small) {
    grid-template-rows: min-content 35vh 1fr 15vh;
  }
}

.about {
  // background-image: linear-gradient(
  //     rgba(0, 0, 0, 0.5) 100%,
  //     rgba(0, 0, 0, 0.5) 100%
  //   ),
  //   url(../../imgs/background/background_about.jpeg);
  // background-position: center;
  // background-size: cover;

  display: grid;
  grid-template-rows: 15vh 12vw 70vh;
  grid-template-columns: 1fr repeat(11, minmax(10rem, 15rem)) 1fr;

  @media only screen and (max-width: $bp-largest-xxl) {
    grid-template-rows: 15vh 12vw 75vh 75vh;
  }

  @media only screen and (max-width: $bp-largest-xl) {
    grid-template-rows: 15vh 12vw 70vh;
  }

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 15vh 12vw 65rem 65rem;
  }

  @media only screen and (max-width: $bp-extra-small) {
    grid-template-rows: 10vh 40rem repeat(4, 60rem);
    grid-template-columns: none;
  }
}

.projects {
  height: 90vh;
  // background-image: linear-gradient(
  //     rgba(117, 129, 234, 0.5) 100%,
  //     rgba(62, 91, 126, 0.5) 100%
  //   ),
  //   url(../../imgs/background/background_projects.jpeg);
  // background-position: bottom;
  // background-size: cover;
  display: grid;
  grid-template-rows: 10vh 15vh min-content 5rem;
  grid-template-columns: 1fr repeat(11, minmax(10rem, 15rem)) 1fr;
}

.contact {
  height: 90vh;
  // background-image: linear-gradient(
  //     rgba(54, 50, 50, 0.5) 100%,
  //     rgba(63, 54, 107, 0.5) 100%
  //   ),
  //   url(../../imgs/background/background_contact.jpg);
  // background-position: center;
  // background-size: cover;

  display: grid;
  grid-template-rows: 10vh 1fr min-content 1fr min-content 4rem;
  grid-template-columns: 1fr repeat(11, minmax(10rem, 15rem)) 1fr;
}

.background_homepage {
  background-image: url(../../imgs/background/background_home.png);
  background-position: center;
  background-size: cover;
}

.background_about {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 100%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../../imgs/background/background_about.jpeg);
  background-position: center;
  background-size: cover;
}

.background_projects {
  background-image: linear-gradient(
      rgba(117, 129, 234, 0.5) 100%,
      rgba(62, 91, 126, 0.5) 100%
    ),
    url(../../imgs/background/background_projects.jpeg);
  background-position: bottom;
  background-size: cover;
}

.background_contact {
  background-image: linear-gradient(
      rgba(54, 50, 50, 0.5) 100%,
      rgba(63, 54, 107, 0.5) 100%
    ),
    url(../../imgs/background/background_contact.jpg);
  background-position: center;
  background-size: cover;
}
